# Copie ce fichier en .env et remplis les valeurs

SECRET_KEY=change-moi-une-longue-chaine-aleatoire
DEBUG=False
ALLOWED_HOSTS=ton-app.up.railway.app

DATABASE_URL=postgresql://user:password@host:5432/dbname

CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

CORS_ALLOW_ALL=False
CORS_ALLOWED_ORIGINS=https://ton-app.netlify.app

JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7
